html {
    scroll-behavior: smooth;
    margin: 0;
}

* {
    margin: 0;
}

@font-face {
    font-family: 'EuroStyle';
    src: url('eurostile-font/EuroStyle_Normal.ttf');
}

@font-face {
    font-family: 'Insominia';
    src: url('insominia/Insominia.ttf');
}

a {
    text-decoration: none;
}  

nav {
    position: absolute;
    width: 100%;
    height: 100px;

    background-color: #0F0C1F;
    font-family: 'Insominia';
    font-size: 20px;
    z-index: 999;
}
  
nav li {
    height: 100px;
    float: right;
}
  
nav a {
    display: block;
    color: #40E0AE;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: none;
}
  
nav a:hover {
    background-color: #111;
}

#game_space {
    box-sizing: border-box;
    border-radius: 12px;
    height: 55px;
    width: 225px;
    padding: 15px;

    background: #F85242;
    color: white;
    position: relative;
    top: 20px;
    padding-top: 18px;
    filter: drop-shadow(0px 4px 4px #40E0AE);
}

#logo {
    position: absolute;
    width: 225px;
    height: 90px;
    left: 10px;
    top: 6px;
}

#first_div {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 831px;
    top: 100px;
    background: url(BG_1.png);
    background-position-x: -1px; 
}

#first_logo {
    position: relative;
    width: 200px;
    height: 350px;
    align-items: center;
    margin-bottom: 75px;
    margin-left: 100px;
    margin-right: 100px;
}

#first_button {
    position: absolute;
    width: 100%;
    height: 50px;

    font-family: 'Insominia';
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;

    background: #F85242;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px #40E0AE);
}

#first_all {
    position: relative;
    top: 171px;
    width: 390px;
    height: 550px;
}

#second_div {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 940px;
    top : 930px;
    background: #0F0C1F;
}

#second_div_all {
    position: absolute;
    width: 1100px;
    height: 600px;
    top: 150px;
}

#second_right {
    position: absolute;
    width: 550px;
    top: 125px;
    left: 550px;
}

#second_div_img {
    position: relative;
    top: 50px;
    height: 500px;
    width: 500px;
}

#second_div_h1 {
    width: 550px;
    font-family: 'Insominia';
    font-size: 40px;
    color: #FBDF5A;
}

#second_div_p {
    position: absolute;
    top: 100px;

    color: white; 
    width: 550px;
    font-family: 'Insominia';
    font-size: 20px;
}

#third_div {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 940px;
    top: 1870px;
    background: #FBDF5A;
}

#third_div_all {
    width: 1100px;
    position: absolute;
    display: flex;
    justify-content: center;
}

#third_div_h1_top {
    font-family: 'Insominia';
    position: relative;
    text-align: center;
    top: 75px;
    font-size: 48px;
    height: 50px;
}

#third_div_button {
    position: absolute;
    width: 400px;
    height: 50px;
    top: 800px;

    font-family: 'Insominia';
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;

    background: #F85242;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px #40E0AE);
}

#third_div_top {
    position: absolute;
    width: 1100px;
    height: 50%;
    top: 175px;
}

#third_div_bottom {
    position: absolute;
    top: 475px;
    width: 1100px;
    height: 312.5px;
}

#third_div_left{
    position: absolute;
    width: 50%;
    height: 100%;
}

#third_div_right{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
}

#third_div_numb {
    width: 150px;
    height: 150px;

    position: absolute;
    left: 200px;

    background: #40E0AE;
    border-radius: 200px;
}

#third_div_circle {
    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 129px;
    text-align: center;
    padding-top: 15px;
                            
    color: #F85242;
}

#third_div_h1{
    position: absolute;
    width: 100%;
    height: 40px;
    top: 160px;

    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

#third_div_p {
    position: absolute;
    width: 100%;
    height: 102.5px;
    top: 210px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}

#fourth_div_all {
    width: 1100px;
}

#fourth_div {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 940px;
    top: 2810px;
    background: #40E0AE;
}

#fourth_div_h1 {
    position: relative;
    top: 75px;
    font-size: 48px;
    height: 40px;
    width: 100%;

    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;

    color: #000000;
}

#fourth_div_div1 {
    position: absolute;
    justify-content: center;
    top: 200px;
    width: 450px;
    height: 600px;
}

#fourth_div_div1_top_h1 {
    position: relative;
    top: 75px;

    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;

    color: #F85242;
}

#fourth_div_div1_top_p {
    position: relative;
    top: 20%;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}

#fourth_div_img {
    width: 450px;
    height: 177px;
    position: absolute;
    top: 300px;
}

#fourth_div_div2 {
    position: relative;
    left: 600px;
    top: 200px;
    width: 500px;
    height: 650px;
}

#fourth_div_div2_h1 {
    position: relative;
    text-align: center;

    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;

    color: #000000;
}

#fourth_div_div2_a {
    position: absolute;
    width: 225px;
    height: 50px;
    top: 500px;
    justify-content: center;
    
    font-family: 'Insominia';
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    margin-left: 137.5px;
    margin-right: 137.5px;

    background: #F85242;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px #40E0AE);
}

#fourth_div_div2_a1 {
    position: absolute;
    left: 25px;
    top: 75px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: justify;

    color: #FFFFFF;
}

#fourth_div_div2_a2 {
    position: absolute;
    left: 25px;
    top: 175px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: justify;

    color: #FFFFFF;
}

#fourth_div_div2_a3 {
    position: absolute;
    left: 25px;
    top: 275px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: justify;

    color: #FFFFFF;
}

#name {
    position: absolute;
    top: 200px;
    left: 0%;
    height: 50px;
    width: 100%;

    border-radius: 10px;
    border-color: white;
}

#message {
    position: absolute;
    top: 300px;
    left: 0%;
    height: 150px;
    width: 100%;

    border-radius: 10px;
    border-color: white;
}

#adress_mail {
    position: absolute;
    top: 100px;
    left: 0%;
    height: 50px;
    width: 100%;

    border-radius: 10px;
    border-color: white;
}

#fifth_div {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 410px;
    top: 3750px;
    background: #0F0C1F;
}

#fifth_div_all {
    position: absolute;
    width: 1100px;
    height: 300px;
    top: 50px;
}

#fifth_div_img {
    position: relative;
    float: right;
    width: 308px;
    height: 124px;
    top: 75px;
}

#fifth_div_div_left {
    position: relative;
    width: 261px;
    top: 20px;
}

#footer_div_mid {
    position: absolute;
    width: 238px;
    height: 275px;
    left: 37.5%;
    top: 10px;
    align-items: center;
}

#footer_txt_left {
    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: white;

    position: absolute;
    width: 100%;
    top: 140px;
}

#footer_div_mid_h1 {
    width: 100%;
    height: 37px;

    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;

    color: #F85242;
}

#footer_div_mid_txt {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 140px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: center;

    color: white;
}

#footer_div_mid_buton {
    box-sizing: border-box;

    position: absolute;
    top: 225px;
    width: 100%;
    height: 50px;

    background: #F85242;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: 'Insominia';
    text-align: center;
    color: white;
    padding-top: 20px;
}

#footer_img {
    position: absolute;
    left: 20px;
    top: 25px;
}