html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
}

@font-face {
    font-family: 'EuroStyle';
    src: url('eurostile-font/EuroStyle_Normal.ttf');
}

@font-face {
    font-family: 'Insominia';
    src: url('insominia/Insominia.ttf');
}

.first {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(BG_1.png);
    background-size: cover;
    background-position: center;
}

.nav {
    display: flex;
    width: 85%;
    padding: 35px 0;
    margin: auto;
    align-items: center;
    justify-content: space-between;

    font-family: 'Insominia';
    font-size: 20px;
}

.logo {
    width: 225px;
    cursor: pointer;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav ul li a{
    text-decoration: none;
    color: #40E0AE;
    text-transform: uppercase;
    font-size: 24px;
}

.nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #40E0AE;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav ul li:hover:after{
    width: 100%;
}

.nav button {
    width: 175px;
    padding: 10px;
    margin: 0px;
    font-size: 24px;
}

.content{
    width: 100%;
    position: absolute;
    text-align: center;    
}

.button{
    position: relative;
    width: 390px;
    padding: 25px;
    margin: 50px;
    border-radius: 90px;
    font-size: 30px;
    border: 2px solid #F85242;
    background: transparent;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Insominia';
    overflow: hidden;
    z-index: 1;
}

span{
    background: #F85242;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.button:hover span {
    width: 100%;
}

.button:hover{
    border: none;
}

/* ----------------------------------------------------------- */

.second {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #0F0C1F;
}

.second_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_img {
    height: 500px;
    width: 500px;
}

.second_txt {
    font-family: 'Insominia';
    margin-left: 2.5%;
}

.second_h1 {
    font-size: 40px;
    color: #FBDF5A;
    margin-bottom: 30px;
}

.second_p {
    font-size: 20px;
    color: white;
    width: 550px;
}

/* ----------------------------------------------------------- */

.third {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #FBDF5A;
}

.third_content {
    position: absolute;
    top: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.third_title {
    font-family: 'Insominia';
    text-align: center;
    position: relative;
    /* top: 60px; */
    padding: 50px;
    font-size: 48px;
    height: 50px;
}

/* #third_div_top {
    position: relative;
    width: 1100px;
    height: 50%;
    top: 175px;
}

#third_div_bottom {
    position: relative;
    top: 475px;
    width: 1100px;
    height: 312.5px;
} */


/* #third_div_left{
    position: absolute;
    width: 50%;
    height: 100%;
}

#third_div_right{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
} */

.third_circle {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 200px;

    background: #40E0AE;
    border-radius: 200px;
}

.third_numb {
    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 129px;
    text-align: center;
    padding-top: 15px;
                            
    color: #F85242;
}

.third_h1{
    position: absolute;
    width: 100%;
    height: 40px;
    top: 160px;

    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

.third_p {
    position: absolute;
    width: 100%;
    height: 102.5px;
    top: 210px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}

/* ----------------------------------------------------------- */

#fourth_div_all {
    width: 1100px;
}

#fourth_div {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 940px;
    top: 2810px;
    background: #40E0AE;
}

#fourth_div_h1 {
    position: relative;
    top: 75px;
    font-size: 48px;
    height: 40px;
    width: 100%;

    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;

    color: #000000;
}

#fourth_div_div1 {
    position: absolute;
    justify-content: center;
    top: 200px;
    width: 450px;
    height: 600px;
}

#fourth_div_div1_top_h1 {
    position: relative;
    top: 75px;

    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;

    color: #F85242;
}

#fourth_div_div1_top_p {
    position: relative;
    top: 20%;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}

#fourth_div_img {
    width: 450px;
    height: 177px;
    position: absolute;
    top: 300px;
}

#fourth_div_div2 {
    position: relative;
    left: 600px;
    top: 200px;
    width: 500px;
    height: 650px;
}

#fourth_div_div2_h1 {
    position: relative;
    text-align: center;

    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;

    color: #000000;
}

#fourth_div_div2_a {
    position: absolute;
    width: 225px;
    height: 50px;
    top: 500px;
    justify-content: center;
    
    font-family: 'Insominia';
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    margin-left: 137.5px;
    margin-right: 137.5px;

    background: #F85242;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px #40E0AE);
}

#fourth_div_div2_a1 {
    position: absolute;
    left: 25px;
    top: 75px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: justify;

    color: #FFFFFF;
}

#fourth_div_div2_a2 {
    position: absolute;
    left: 25px;
    top: 175px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: justify;

    color: #FFFFFF;
}

#fourth_div_div2_a3 {
    position: absolute;
    left: 25px;
    top: 275px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: justify;

    color: #FFFFFF;
}

#name {
    position: absolute;
    top: 200px;
    left: 0%;
    height: 50px;
    width: 100%;

    border-radius: 10px;
    border-color: white;
}

#message {
    position: absolute;
    top: 300px;
    left: 0%;
    height: 150px;
    width: 100%;

    border-radius: 10px;
    border-color: white;
}

#adress_mail {
    position: absolute;
    top: 100px;
    left: 0%;
    height: 50px;
    width: 100%;

    border-radius: 10px;
    border-color: white;
}

#fifth_div {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 410px;
    top: 3750px;
    background: #0F0C1F;
}

#fifth_div_all {
    position: absolute;
    width: 1100px;
    height: 300px;
    top: 50px;
}

#fifth_div_img {
    position: relative;
    float: right;
    width: 308px;
    height: 124px;
    top: 75px;
}

#fifth_div_div_left {
    position: relative;
    width: 261px;
    top: 20px;
}

#footer_div_mid {
    position: absolute;
    width: 238px;
    height: 275px;
    left: 37.5%;
    top: 10px;
    align-items: center;
}

#footer_txt_left {
    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: white;

    position: absolute;
    width: 100%;
    top: 140px;
}

#footer_div_mid_h1 {
    width: 100%;
    height: 37px;

    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;

    color: #F85242;
}

#footer_div_mid_txt {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 140px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: center;

    color: white;
}

#footer_div_mid_buton {
    box-sizing: border-box;

    position: absolute;
    top: 225px;
    width: 100%;
    height: 50px;

    background: #F85242;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: 'Insominia';
    text-align: center;
    color: white;
    padding-top: 20px;
}

#footer_img {
    position: absolute;
    left: 20px;
    top: 25px;
}