*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'EuroStyle';
    src: url('C:/Users/joris/Desktop/Site_Corporate/eurostile-font/eurostile font/Eurostile.ttf') format('truetype');
  }

@font-face {
  font-family: 'Insominia';
  src: url('C:/Users/joris/Desktop/Site_Corporate/insominia/Insominia.ttf');
}

nav {
    position: absolute;
    width: 1903px;
    height: 100px;

    background-color: #0F0C1F;
    font-family: 'Insominia';
    font-size: 20px;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}
  
nav li {
    float: right;
}
  
nav a {
    display: block;
    color: #40E0AE;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 3px;
    text-decoration: none;
}
  
nav a:hover {
    background-color: #111;
}

#game_space {

    box-sizing: border-box;
    border-radius: 12px;
    height: 55px;
    width: 225px;
    padding: 15px;

    background: #F85242;
    color: white;
    margin-top: 20px;
    filter: drop-shadow(0px 4px 4px #40E0AE);
}

#logo {
    position: absolute;
    width: 225px;
    height: 90px;
    left: 10px;
    top: 6px;
}

#first_div {
    /* A RECENTRER */
    position: absolute;
    width: 1903px;
    height: 831px;
    top: 100px;
    background: url(BG_1.png);
    background-position-x: -1px; 
}

#first_logo {
    position: absolute;
    width: 200px;
    height: 360px;
    left: 860px;
    top: 171px;
}

#first_button {
    position: absolute;
    width: 390px;
    height: 64px;
    left: 768px;
    top: 696px;

    font-family: 'Insominia';
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;

    background: #F85242;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px #40E0AE);
}

#second_div {
    /* A RECENTRER */
    position: absolute;
    width: 1903px;
    height: 940px;
    top : 930px;
    background: #0F0C1F;
}

#second_div_img {
    position: absolute;
    left: 300px;
    top: 150px;
    bottom: 150px;
}

#second_div_h1
{
    position: absolute;
    top: 275px;
    left: 1000px;

    width: 700px;
    height: 62px;
    
    font-family: 'Insominia';
    font-size: 48px;
    color: #FBDF5A;
}

#second_div_p 
{
    position: absolute;
    top: 375px;
    left: 1000px;

    color: white; 
    width: 600px; 
    height: 250px;
    font-family: 'Insominia';
    font-size: 20px;
}

#third_div {
  position: absolute;
  width: 1903px;
  height: 940px;
  top: 1870px;
  background: #FBDF5A;
}

#third_div_h1 {
  font-family: 'Insominia';
  position: absolute;
  top: 75px;
  left: 641.5px;
  font-size: 48px;
  height: 50px;
  width: 620px;
}

#third_div_img {
  position: absolute;
  top : 500px;
  left: 150px;
  height: 160px;
  width: 200px;
}

#third_div_button {
  position: absolute;
  width: 390px;
  height: 64px;
  left: 745px;
  top: 800px;
  margin-bottom: 70px;

  font-family: 'police';
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;

  background: #F85242;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px #40E0AE);
}

#third_div_div{
    position: absolute;
    width: 901px;
    height: 625px;
    left: 509px;
    top: 150px;
}

#third_div12{
    position: absolute;
    width: 100%;
    height: 50%;
}
#third_div34{
    position: absolute;
    top: 275px;
    width: 100%;
    height: 50%;
}

#third_div1{
    position: absolute;
    width: 50%;
    height: 100%;
}

#third_div2{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 450.5px;
}

#third_div3{
    position: absolute;
    width: 50%;
    height: 100%;
}

#third_div4{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 450.5px;
}

#third_div1_h1{
    position: absolute;
    width: 100%;
    height: 40px;
    top: 160px;

    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

#third_div2_h1{
    position: absolute;
    width: 100%;
    height: 40px;
    top: 160px;

    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

#third_div3_h1{
    position: absolute;
    width: 100%;
    height: 40px;
    top: 160px;
    
    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

#third_div4_h1{
    position: absolute;
    width: 100%;
    height: 40px;
    top: 160px;

    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

#third_div1_p {
    position: absolute;
    width: 100%;
    height: 102.5px;
    left: 0px;
    top: 210px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}

#third_div2_p {
    position: absolute;
    width: 100%;
    height: 102.5px;
    left: 0px;
    top: 210px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}

#third_div3_p {
    position: absolute;
    width: 100%;
    height: 102.5px;
    left: 0px;
    top: 210px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}

#third_div4_p {
    position: absolute;
    width: 100%;
    height: 102.5px;
    left: 0px;
    top: 210px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}

#fourth_div {
    position: absolute;
    width: 1903px;
    height: 940px;
    top: 2810px;
    background: #40E0AE;
}

#fourth_div_h1 {
    position: absolute;
    top: 75px;
    left: 565px;
    font-size: 48px;
    height: 40px;
    width: 750px;

    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;

    color: #000000;
}

#fourth_div_div1 {
    position: absolute;
    width: 451px;
    height: 365.33px;
    left: 331px;
    top: 319px;
}

#fourth_div_div1_top {
    width: 100%;
    height: 178.33px;
}

#fourth_div_div1_top_h1 {
    position: absolute;
    width: 100%;
    height: 30px;

    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;

    color: #F85242;
}

#fourth_div_div1_top_p {
    position: absolute;
    width: 100%;
    height: 117.33px;
    left: 0px;
    top: 75px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}

#fourth_div_img {
    width: 100%;
    height: 177px;
}

#fourth_div_div2 {
    position: absolute;
    width: 959px;
    height: 500px;
    left: 961px;
    top: 267px;
}

#fourth_div_div2_h1 {
    position: absolute;
    width: 329px;
    height: 40px;
    left: 194px;
    top: 0px;

    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;

    color: #000000;
}

#fourth_div_div2_a {
    position: absolute;
    width: 225px;
    height: 50px;
    left: 225px;
    top: 500px;

    font-family: 'Insominia';
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;

    background: #F85242;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px #40E0AE);
}

#fourth_div_div2_a1 {
    position: absolute;
    left: 25px;
    top: 75px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: justify;

    color: #FFFFFF;
}

#fourth_div_div2_a2 {
    position: absolute;
    left: 25px;
    top: 175px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: justify;

    color: #FFFFFF;
}

#fourth_div_div2_a3 {
    position: absolute;
    left: 25px;
    top: 275px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: justify;

    color: #FFFFFF;
}

#fifth_div {
    position: absolute;
    width: 1903px;
    height: 410px;
    top: 3750px;
    background: #0F0C1F;
}

#fifth_div_div {
    position: absolute;
    width: 1219px;
    height: 247px;
    left: 336px;
    top: 96px;
}

#fifth_div_img {
    width: 308px;
    height: 124px;
    position: absolute;
    top: 55px;
    left: 911px;
}

#adress_mail {
    position: absolute;
    top: 125px;
    height: 50px;
    width: 525px;

    border-radius: 10px;
}

#name {
    position: absolute;
    top: 225px;
    height: 50px;
    width: 525px;

    border-radius: 10px;
}

#message {
    position: absolute;
    top: 325px;
    height: 50px;
    width: 525px;

    border-radius: 10px;
}

#fifth_div_div_left {
    position: absolute;
    width: 261px;
    height: 100%;
}

#footer_txt_left {
    font-family: 'EuroStyle';
    color: white;
    text-align: center;
    position: absolute;
    top: 140px;
    left: 35px;
}

#footer_div_mid {
    width: 238px;
    height: 247px;
    position: absolute;
    left: 450px;
}

#footer_div_mid_h1 {
    width: 238px;
    height: 37px;

    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;

    color: #F85242;
}

#footer_div_mid_txt {
    position: absolute;
    top: 60px;
    width: 222px;
    height: 140px;

    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;
}

#footer_div_mid_buton {
    box-sizing: border-box;

    position: absolute;
    top: 225px;
    width: 225px;
    height: 50px;

    background: #F85242;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    text-align: center;
    color: white;
    padding-top: 15px;
}

