html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
}

@font-face {
    font-family: 'EuroStyle';
    src: url('../Font/eurostile-font/EuroStyle_Normal.ttf');
}

@font-face {
    font-family: 'Insominia';
    src: url('../Font/insominia/Insominia.ttf');
}

.accueil {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../Images/BG_1.png);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    width: 85%;
    padding: 30px 0;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    font-family: 'Insominia';
    font-size: 20px;
}

.accueil img {
    width: 225px;
}

.img_queries {
    display: none;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: #40E0AE;
    text-transform: uppercase;
    font-size: 24px;
}

nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #40E0AE;
    position: absolute;
    left: 0;
    bottom: -7.5px;
    transition: 0.5s;
}

nav ul li:hover:after{
    width: 100%;
}

nav .button {
    width: 175px;
    padding: 10px;
    margin-left: 10px;
    font-size: 24px;
    text-transform: uppercase;
}

#burger {
    display: none;
}

nav .burger {
    display: none;
}

.content{
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content div {
    margin-top: 50px;
}

.button{
    position: relative;
    width: 275px;
    padding: 20px;
    border-radius: 90px;
    font-size: 30px;
    border: 2px solid #F85242;
    background: transparent;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Insominia';
    overflow: hidden;
    z-index: 1;
}

span{
    background: #F85242;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.button:hover span {
    width: 100%;
}

.button:hover{
    border: none;
}

/* ----------------------------------------------------------- */

.histoire {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #0F0C1F;
}

.histoire div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.histoire img {
    width: 50%;
    max-width: 550px;
}

.histoire a {
    font-family: 'Insominia';
    margin-left: 2.5%;
}

.histoire h1 {
    font-size: 32px;
    color: #FBDF5A;
    margin-bottom: 30px;
    max-width: 550px;
}

.histoire p {
    font-size: 20px;
    color: white;
    max-width: 550px;
}

/* ----------------------------------------------------------- */

.telecharger {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #FBDF5A;
}

.telecharger_content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.telecharger_title {
    font-family: 'Insominia';
    text-align: center;
    position: relative;
    padding-top: 30px;
    font-size: 48px;
}

.left_div,
.right_div {
  width: 50%;
  padding: 10px;
}

.center_div {
    display: flex;
    justify-content: center;
}

.telecharger_circle {
    width: 85px;
    height: 85px;
    margin: 0 auto;
    background: #40E0AE;
    border-radius: 200px;
}

.telecharger h3 {
    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 95px;
    text-align: center;
    color: #F85242;
}

.telecharger h2 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.telecharger p {
    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.telecharger_button {
    margin-top: 20px;
}

.telecharger button {
    color: #F85242;
}

.telecharger button:hover {
    color: #FFFFFF;
}

/* ----------------------------------------------------------- */

.contact {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #40E0AE;
}

.contact_content {
    position: absolute;
    top: 57.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact h1 {
    position: relative;
    padding-top: 75px;
    font-size: 48px;
    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #000000;
}

.contact_left {
    width: 50%;
    max-width: 450px;
    margin-right: 5%;
}

.contact h2 {
    font-family: 'Insominia';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: #F85242;
}

.contact p {
    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.contact img {
    width: 100%;
}

.contact_right {
    width: 50%;
    max-width: 500px;
}

.contact a {
    font-family: 'EuroStyle';
    color: white;
    font-size: 24px;
}

.contact_right input {
    height: 50px;
    width: 100%;

    border-radius: 10px;
    border-color: white;
}

form div {
    padding: 10px;
}

.contact_button {
    justify-content: center;
    display: flex;
    padding: 20px;
}

/* .contact button {
    padding: 20px;
} */

/* ----------------------------------------------------------- */

.footer {
    position: relative;
    width: 100%;
    height: 50vh;
    background: #0F0C1F;
}

.footer_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_left {
    width: 33%;
    max-width: 300px;
}

.footer_left p {
    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: white;
    width: 100%;
}

.footer_left img {
    width: 100%;
    padding-bottom: 10px;
}

.footer_mid {
    width: 33%;
    font-family: 'Insominia';
    font-size: 26px;
    font-style: normal;
    line-height: 40px;
    text-align: center;
    color: #F85242;
    margin-left: 5%;
    margin-right: 5%;
}

.footer_mid a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
}

.footer_mid_txt {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer_mid_txt a{
    text-decoration: none;
    color: #40E0AE;
    text-transform: uppercase;
    font-size: 24px;
}

.footer_mid_txt ul {
    padding: 0;
}

.footer_mid_txt ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
}

.footer_mid_txt ul li a{
    text-decoration: none;
    color: #40E0AE;
    text-transform: uppercase;
    font-size: 24px;
}

.footer_mid_txt ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #40E0AE;
    position: absolute;
    left: 0;
    bottom: -0.5px;
    transition: 0.5s;
}

.footer_mid_txt ul li:hover:after{
    width: 100%;
}

.footer button {
    width: 175px;
    padding: 10px;
    font-size: 24px;
    text-transform: uppercase;
}

.footer_right_img {
    width: 33%;
    max-width: 300px;
}