html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
}

@font-face {
    font-family: 'EuroStyle';
    src: url('../Font/eurostile-font/EuroStyle_Normal.ttf');
}

@font-face {
    font-family: 'Insominia';
    src: url('../Font/insominia/Insominia.ttf');
}

.accueil {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../Images/BG_1.png);
    background-size: cover;
    background-position: center;
}

.nav {
    display: flex;
    width: 85%;
    padding: 35px 0;
    margin: auto;
    align-items: center;
    justify-content: space-between;

    font-family: 'Insominia';
    font-size: 20px;
}

.accueil img {
    width: 225px;
    /* cursor: pointer; */
}

.nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.nav ul li a{
    text-decoration: none;
    color: #40E0AE;
    text-transform: uppercase;
    font-size: 24px;
}

.nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #40E0AE;
    position: absolute;
    left: 0;
    bottom: -7.5px;
    transition: 0.5s;
}

.nav ul li:hover:after{
    width: 100%;
}

.nav button {
    width: 175px;
    padding: 10px;
    margin-left: 10px;
    font-size: 24px;
    text-transform: uppercase;
}

.button{
    position: relative;
    width: 275px;
    padding: 20px;
    border-radius: 90px;
    font-size: 30px;
    border: 2px solid #F85242;
    background: transparent;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Insominia';
    overflow: hidden;
    z-index: 1;
}

span{
    background: #F85242;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.button:hover span {
    width: 100%;
}

.button:hover{
    border: none;
}

/* ---------------------------------------------- */

.content {
    position: absolute;
    text-align: center;
    top: 62.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    position: relative;
    width: 100%;
    text-align: center;
    font-family: 'Insominia';
    font-size: 40px;
    color: #FBDF5A;
}

p {
    position: relative;
    color: white;
    text-align: center;
    width: 100%;
    font-family: 'Insominia';
    font-size: 20px;
}

.content img {
    position: relative;
    width: 50%;
    max-width: 450px;
    margin-left: 5%;
}

.content_left {
    width: 50%;
    max-width: 500px;
}

form {
    width: 100%;
}

form a {
    /* position: relative; */
    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    /* text-align: justify; */
    color: #FFFFFF;
    /* margin-bottom: 10px; */
}

form input {
    /* position: relative; */
    height: 45px;
    width: 100%;
    border-radius: 10px;
    border-color: white;
}

form div {
    margin-top: 20px;
}



/* ---------------------------------------------- */

.footer {
    position: relative;
    width: 100%;
    height: 50vh;
    background: #0F0C1F;
}

.footer_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_left {
    width: 33%;
    max-width: 300px;
}

.footer_left p {
    font-family: 'EuroStyle';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: white;
    width: 100%;
}

.footer_left img {
    width: 100%;
    padding-bottom: 10px;
}

.footer_mid {
    width: 33%;
    font-family: 'Insominia';
    font-size: 26px;
    font-style: normal;
    line-height: 40px;
    text-align: center;
    color: #F85242;
    margin-left: 5%;
    margin-right: 5%;
}

.footer_mid a {
    text-decoration: none;
    color: #40E0AE;
    font-size: 24px;
}

.footer_mid_txt {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer_mid_txt a{
    text-decoration: none;
    color: .40E0AE;
    text-transform: uppercase;
    font-size: 24px;
}

.footer_mid_txt ul {
    padding: 0;
}

.footer_mid_txt ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
}

.footer_mid_txt ul li a{
    text-decoration: none;
    color: .40E0AE;
    text-transform: uppercase;
    font-size: 24px;
}

.footer_mid_txt ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #40E0AE;
    position: absolute;
    left: 0;
    bottom: -0.5px;
    transition: 0.5s;
}

.footer_mid_txt ul li:hover:after{
    width: 100%;
}

.footer button {
    width: 175px;
    padding: 10px;
    font-size: 24px;
    text-transform: uppercase;
}

.footer_right_img {
    width: 33%;
    max-width: 300px;
}