@media only screen and (max-width: 1100px) {

    #burger {
        display: none;
    }

    #burger:checked + .menu .top {
        transform: rotate(-45deg);
        margin-top: 25px;
    }
      
    #burger:checked + .menu .bottom {
        opacity: 0;
        transform: rotate(45deg);
    }
      
    #burger:checked + .menu .middle {
        transform: rotate(45deg);
        margin-top: -7px;
    }
      
    #burger:checked + .menu ~ nav {
        top: 0;
        transform: scale(1);
    }
      
    label {
        background: transparent;
    }

    .menu {
        position: absolute;
        top: 80px;
        right: 50px;
        width: 50px;
        height: 45px;
        z-index: 5;
    }

    .menu:hover {
        cursor: pointer;
    }

    .menu div {
        position: relative;
        width: 50px;
        height: 7.5px;
        border-radius: 1px;
        background-color: #000;
        background-color: white;
        margin-top: 5.2px;
        transition: all 0.2s ease-in-out;
    }

    nav {
        position: fixed;
        width: 100%;
        height: 100%;
        /* background-color: #ccc; */
        background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
        top: -100%;
        left: 0;
        right: 0;
        bottom: 0;
        /* overflow: hidden; */
        transition: all 0.3s ease-in-out;
        transform: scale(0);
        z-index: 4;
    }

    nav img {
        display: none;
    }

    .nav-wrapper {
        position: relative;
        /* overflow: hidden; */
        overflow-y: auto;
        height: 100%;
    }

    nav ul {
        text-align: center;
        margin: 0 auto;
        padding-top: 5rem;
    }

    nav a {
        position: relative;
        text-decoration: none;
        color: #000;
        font-size: 1.5rem;
        display: inline-block;
        margin-top: 1rem;
        transition: color 0.2s ease-in-out;
        letter-spacing: 1px;
    }

    nav a:hover {
        /* color: #eee; */
        color: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
        /* z-index: 1; */
    }

    .img_queries {
        display: block;
        position: absolute;
        top: 50px;
        left: 50px;
    }

    /* ----------------------------------------------------------- */

    .content {
        top: 50%;
        width: 85%;
        height: 50%;
    }
    
    .content img {
        height: 60%;
        width: auto;
        padding: 10%;
        max-height: 750px;
    }

    .button {
        width: 50%;
        height: 15%;
        padding: 10px;
        /* font-size: 32px; */
        font-size: 3rem;
        /* margin-top: 33%; */
    }

    /* -------------------------------------------------- */

    .histoire div {
        height: 85%;
        text-align: center;
    }

    .histoire img {
        display: none;
    }

    .histoire a {
        /* width: 100%; */
        margin-left: 0%;
        max-height: 100%;
        /* margin-top: 0%; */
    }

    .histoire h1 {
        font-size: 3rem;
        margin-bottom: 30px;
    }

    .histoire p {
        font-size: 3rem;
        color: white;
    }

    /* ----------------------------------------------------------- */

    .telecharger_title {
        padding-top: 10%;
    }

    .center_div {
        display: grid;
        max-height: 100%;
    }

    .left_div,
    .right_div {
        width: 100%;
    }

    .telecharger_content {
        max-height: 100%;
    }

    .telecharger_circle {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        background: #40E0AE;
        border-radius: 200px;
    }

    .telecharger h3 {
        font-family: 'Insominia';
        font-style: normal;
        font-weight: 400;
        /* font-size: 85px; */
        font-size: 8.5rem;
        line-height: 150px;
        text-align: center;
        color: #F85242;
    }

    .telecharger h2 {
        padding-top: 10px;
        /* padding-bottom: 5px; */
    
        font-family: 'Insominia';
        font-style: normal;
        font-weight: 400;
        /* font-size: 22px; */
        font-size: 2.2rem;
        line-height: 24px;
        text-align: center;
        color: #000000;
    }

    .telecharger p {
        font-family: 'EuroStyle';
        font-style: normal;
        font-weight: 400;
        /* font-size: 28px; */
        font-size: 2.8rem;
        text-align: center;
        color: #000000;
    }

    .telecharger_button {
        margin-top: 20px;
        width: 100%;
    }
    
    /* ----------------------------------------------------------- */

    .contact_content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact_left {
        display: none;
    }

    .contact h2 {
        font-size: 3rem;
    }

    .contact_right {
        /* height: 100%; */
        width: 100%;
        max-height: 100%;
    }

    .contact a {
        font-family: 'EuroStyle';
        color: white;
        font-size: 3rem;
    }

    .contact_right input {
        height: 5em;
        width: 100%;
    
        border-radius: 10px;
        border-color: white;
    }
    
    /* ----------------------------------------------------------- */

    .footer_content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_left {
        display: none;
    }

    .footer_mid h1{
        font-size: 3rem;
        margin: 30px 0;
        width: 100%;
    }

    .footer_mid_txt ul li a{
        font-size: 3rem;
    }

    .footer_right_img {
        display: none;
    }

    .footer_mid_txt ul li {
        list-style: none;
        display: inline-block;
        position: relative;
        margin-bottom: 25px;
    }

    .footer button {
        width: 100%;
        padding: 10px;
        font-size: 3rem;
        text-transform: uppercase;
        margin-top: 30px;
    }
}