@media only screen and (max-width: 1100px) {
    
    nav a {
        visibility: hidden;
    }

    nav label {
        position: absolute;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* top: 20px; */
        /* left: 500px; */
        height: 40px;
        width: 22px;
        cursor: pointer;
    }

    nav div {
        width: 22px;
        height: 3px;
        background-color: #FFFFFF;
        position: absolute;
    }

    nav div .diagonal {
        /* position: relative; */
        float: left;
        margin-top: 5px;
    }

    .horizontal {
        /* position: relative; */
        float: left;
        margin-top: 5px;
    }

    /* nav div .diagonal2 {
        position: absolute;
        float: left;
        margin-top: 5px;
        bottom: 0px;
    } */

















    .content{
        top: 60%;
    }
    
    .content img {
        height: 60%;
        width: auto;
        padding: 10%;
        max-height: 750px;
    }

    .button {
        width: 50%;
        height: 10%;
        padding: 10px;
        font-size: 52px;
        /* margin-top: 33%; */
    }

    .histoire div {
        height: 85%;
    }

    .histoire img {
        max-width: 100%;
        height: auto;
    }

    .histoire a {
        margin-left: 0%;
    }

    /* .histoire h1 {
        font-size: 42px;
        margin-bottom: 30px;
    } */

    .histoire p {
        font-size: 42px;
        color: white;
    }

    /* ----------------------------------------------------------- */

    .telecharger_title {
        padding-top: 10%;
    }

    .center_div {
        display: grid;
    }

    .left_div,
    .right_div {
        width: 100%;
    }

    .telecharger_circle {
        width: 185px;
        height: 185px;
        margin: 0 auto;
        background: #40E0AE;
        border-radius: 200px;
    }

    .telecharger h3 {
        font-family: 'Insominia';
        font-style: normal;
        font-weight: 400;
        font-size: 185px;
        line-height: 195px;
        text-align: center;
        color: #F85242;
    }

    .telecharger h2 {
        padding-top: 10px;
        /* padding-bottom: 5px; */
    
        font-family: 'Insominia';
        font-style: normal;
        font-weight: 400;
        font-size: 52px;
        line-height: 54px;
        text-align: center;
        color: #000000;
    }

    .telecharger p {
        font-family: 'EuroStyle';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        text-align: center;
        color: #000000;
    }

    .telecharger_button {
        margin-top: 20px;
        width: 100%;
    }
    
    /* ----------------------------------------------------------- */

    .contact_content {
        position: absolute;
        top: 57.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact h1 {
        position: relative;
        padding-top: 10%;
        font-size: 48px;
        font-family: 'Insominia';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
    
        color: #000000;
    }
    
    /* ----------------------------------------------------------- */

    .footer_content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .histoire div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        max-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .histoire img {
        width: 100%;
        margin-bottom: 10px;
    }

    .histoire a {
        height: 50%;
        /* max-height: 50vh; */
        /* margin: 0 auto; */
    }

    .histoire h1 {
        font-size: 26px;
        margin-bottom: 10px;
    }
}